<body style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
  <h2>Bienvenido(a) a Nuestra Plataforma</h2>
  <p>👋 ¡Hola <%= name %>!,</p>
  <p>¡Gracias por unirte a nuestra plataforma! 🚀 Estamos emocionados de tenerte como parte de nuestra comunidad.</p>

  <p>Nos comprometemos a proporcionarte la mejor experiencia posible. Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. 📫</p>

  <p>Gracias nuevamente por unirte a nosotros. ⚡ ¡Esperamos que disfrutes de nuestra plataforma!</p>

  <p>Saludos 🫡<br>
</body>